table {
    width: 100%;
    table-layout: fixed;
}

.mat-paginator {
    position: sticky;
    bottom: 0;
}

td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
  }

.container {
  display: flex;
  justify-content: space-around;
}

.mat-row:nth-child(2n+1){
  background-color: #c4d8e3;
}
.mat-row:not(:nth-child(2n+1)){
  background-color:#ffffff;
}
