<div class="row" style="margin-bottom:15px;">
    <div *ngIf="isUser">
        You have no rights to import to the database, please contact an admin for support.
    </div>
    <div *ngIf="!isUser">
        <div class="col-md-3">
            <input #inputFile type="file" #file placeholder="Choose file" (change)="selectFile(file.files)">
            <button type="button" class="btn btn-success" (click)="uploadFile()">Upload File</button>
        </div>
        <div class="col-md-4">
            <span class="upload" *ngIf="message">
                {{message}}
            </span>
        </div>
    </div>
</div>